<div class="table m-2">
  <div class="table-row-group">
    <% lineup.players.each do |player| %>
      <div class="table-row">
        <div class="table-cell bg-gray-200 text-gray-700 w-12 p-2 text-sm text-center">
          <%= player.position.upcase %>
        </div>
        <div class="table-cell bg-gray-100 text-gray-700 w-40 p-2 text-sm">
          <%= player.name %>
        </div>
        <div class="table-cell bg-gray-200 text-gray-700 w-12 p-2 text-sm text-center">
          <%= player.price %>
        </div>
      </div>
    <% end %>
    <div class="table-row">
      <div class="table-cell bg-gray-100 text-gray-700 w-12 p-2 text-sm text-center font-bold">
        $
      </div>
      <div class="table-cell bg-gray-200 text-gray-700 w-40 p-2 text-sm align-middle">
        <div class="flex justify-center items-center h-4 text-yellow-600 font-bold">
          <%= stack_description(lineup) %>
        </div>
      </div>
      <div class="table-cell bg-gray-400 text-gray-700 w-12 p-2 text-sm">
        <%= lineup.total_price %>
      </div>
    </div>
  </div>
</div>
