<div class='flex flex-col h-screen'>
  <%= render partial: 'navigation/gameweek_nav',
             locals: { navigable_gameweeks: @navigable_gameweeks } %>

  <div class='flex-none bg-white pb-8'>
    <h1 class='my-8 text-2xl text-center font-black'>
      Week <%= @gameweek.week_number %> - Players
    </h1>

    <div class="inline-flex w-full justify-center mb-4">
      <%= link_to 'All',
                  params.permit(:position).merge(position: nil),
                  class:"bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold mx-1 py-2 px-4 rounded" %>
      <% Player::PLAYER_POSITIONS.each do |position| %>
        <%= link_to position.upcase,
                    params.permit(:position).merge(position: position),
                    class: "#{'bg-gray-400' if position == params[:position]}
                            bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold mx-1 py-2 px-4 rounded" %>
      <% end %>
    </div>

    <table class='table-auto mx-auto border-collapse border-2 border-gray-800'>
      <thead class='bg-gray-500'>
        <tr>
          <th class='border border-gray-600 px-4 py-2'>Position</th>
          <th class='border border-gray-600 px-4 py-2'>Player</th>
          <th class='border border-gray-600 px-4 py-2'>Team</th>
          <th class='border border-gray-600 px-4 py-2'>vs.</th>
          <th class='border border-gray-600 px-4 py-2'>Price</th>
          <th class='border border-gray-600 px-4 py-2'>Proj</th>
          <th class='border border-gray-600 px-4 py-2'>Value</th>
          <th class='border border-gray-600 px-4 py-2'>Ownership</th>
          <th class='border border-gray-600 px-4 py-2'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
        <tr>
          <td class='border border-gray-500 px-4 py-2'><%= player.position.upcase %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.name %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.team.upcase %></td>
          <td class='border border-gray-500 px-4 py-2'>
            <%= game_venue_symbol(player) %>
            <%= player.opponent.upcase %>
          </td>
          <td class='border border-gray-500 px-4 py-2'><%= player.price %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.projections.first.projection %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.projections.first.projected_value %>x</td>
          <td class='border border-gray-500 px-4 py-2'><%= player.projections.first.projected_ownership %>%</td>
          <td class='border border-gray-500 px-4 py-2 text-center'>
            <%= render partial: 'players/player_pool_actions',
                       locals: { entry: player_pool_entry_for(@player_pool, player) } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
