<div class='flex flex-col h-screen'>
  <%= render partial: 'navigation/gameweek_nav',
             locals: { navigable_gameweeks: @navigable_gameweeks } %>

  <div class='flex-none bg-white pb-8'>
    <h1 class='my-8 text-2xl text-center font-black'>
      Week <%= @gameweek.week_number %> - Players
    </h1>

    <div class="inline-flex w-full justify-center mb-4">
      <%= link_to 'All',
                  params.permit(:position).merge(position: nil),
                  class:"bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold mx-1 py-2 px-4 rounded" %>
      <% Player::PLAYER_POSITIONS.each do |position| %>
        <%= link_to position.upcase,
                    params.permit(:position).merge(position: position),
                    class: "#{'bg-gray-400' if position == params[:position]}
                            bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold mx-1 py-2 px-4 rounded" %>
      <% end %>
    </div>

    <table class='table-auto mx-auto border-collapse border-2 border-gray-800'>
      <thead class='bg-gray-500'>
        <tr>
          <th class='border border-gray-600 px-4 py-2'>Position</th>
          <th class='border border-gray-600 px-4 py-2'>Player</th>
          <th class='border border-gray-600 px-4 py-2'>Team</th>
          <th class='border border-gray-600 px-4 py-2'>vs.</th>
          <th class='border border-gray-600 px-4 py-2'>Price</th>
          <th class='border border-gray-600 px-4 py-2'>Proj</th>
          <th class='border border-gray-600 px-4 py-2'>Value</th>
          <th class='border border-gray-600 px-4 py-2'>Ownership</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
        <tr>
          <td class='border border-gray-500 px-4 py-2'><%= player.position.upcase %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.name %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.team.upcase %></td>
          <td class='border border-gray-500 px-4 py-2'>
            <%= game_venue_symbol(player) %>
            <%= player.opponent.upcase %>
          </td>
          <td class='border border-gray-500 px-4 py-2'><%= player.price %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.projections.first.projection %></td>
          <td class='border border-gray-500 px-4 py-2'><%= player.projections.first.projected_value %>x</td>
          <td class='border border-gray-500 px-4 py-2'><%= player.projections.first.projected_ownership %>%</td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class='px-8 py-16 h-screen'>
      <canvas id='projection-bar-chart'></canvas>
      <script>
        var context = document.getElementById('projection-bar-chart');
        new Chart(context, {
          type: 'horizontalBar',
          data: <%= projection_bar_data(@players) %>,
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false
            },
          }
        });
      </script>
    </div>
    <div class='px-8 py-16 h-screen'>
      <canvas id='value-ownership-scatter-chart'></canvas>
      <script>
        var context = document.getElementById('value-ownership-scatter-chart');
        new Chart(context, {
          type: 'scatter',
          data: <%= value_by_projection_scatter_data(@players) %>,
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false
            },
            tooltips: {
               callbacks: {
                  label: function(tooltipItem, data) {
                     var label = data.labels[tooltipItem.index];
                     return label + ': (' + tooltipItem.xLabel + 'x, ' + tooltipItem.yLabel + '%)';
                  }
               }
            }
          }
        });
      </script>
    </div>
  </div>
</div>
