<% content_for :sub_navigation do %>
  <%= render partial: 'navigation/dfs_sub_nav' %>
<% end %>

<div class='flex flex-col min-h-screen mt-4'>
  <div class='flex-none bg-white'>
    <h3 class='text-sm font-bold text-gray-400 my-2'>
      SCHEDULED GAMES
    </h3>

    <div class='flex flex-wrap overflow-hidden -mx-2'>
      <% @games.each do |game| %>
        <div class='flex flex-row justify-around overflow-hidden rounded-lg w-1/4 my-2 px-2 text-sm'>
          <div class='flex flex-row w-2/5'>
            <div class='flex flex-col w-3/5 bg-gray-700 text-gray-200 text-center font-bold rounded-l-lg py-1'>
              <span class='uppercase'><%= game.home_team %></span>
              <span class='uppercase'>@ <%= game.road_team %></span>
            </div>
            <div class='flex flex-col place-content-center w-2/5 text-center bg-gray-400 text-gray-100 text-xs py-1'>
              <span class='capitalize'>
                <%= local_time(game.start_time, :day_of_week_abbr) %>
              </span>
              <span>
                <%= local_time(game.start_time, :time) %>
              </span>
            </div>
          </div>
          <div class='flex flex-col w-3/5 text-center bg-gray-100 text-gray-600 rounded-r-lg py-1'>
            <span></span>
            <span>
              <%= median_points_total(game, :home) %>
              <span class='text-xs'>
                (<%= points_total_range(game, :home) %>)
              </span>
            </span>
            <span>
              <%= median_points_total(game, :road) %>
              <span class='text-xs'>
                (<%= points_total_range(game, :road) %>)
              </span>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
