<%= render partial: 'navigation/gameweek_nav',
           locals: { navigable_gameweeks: @navigable_gameweeks } %>

<h1 class='my-8 text-2xl text-center font-black'>
  Week <%= @gameweek.week_number %> - Players
</h1>

<table class='table-auto mx-auto border-collapse border-2 border-gray-800'>
  <thead class='bg-gray-500'>
    <tr>
      <th class='border border-gray-600 px-4 py-2'>Position</th>
      <th class='border border-gray-600 px-4 py-2'>Player</th>
      <th class='border border-gray-600 px-4 py-2'>Team</th>
      <th class='border border-gray-600 px-4 py-2'>Price</th>
      <th class='border border-gray-600 px-4 py-2'>Select</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td class='border border-gray-500 px-4 py-2'><%= player.position.upcase %></td>
      <td class='border border-gray-500 px-4 py-2'><%= player.name %></td>
      <td class='border border-gray-500 px-4 py-2'><%= player.team.upcase %></td>
      <td class='border border-gray-500 px-4 py-2'><%= player.price %></td>
      <td class='border border-gray-500 px-4 py-2 text-center'>
        <%= render partial: 'player_pool_actions',
                   locals: { entry: player_pool_entry_for(@player_pool, player) } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
