<% content_for :sub_navigation do %>
  <%= render partial: 'navigation/dfs_sub_nav' %>
<% end %>

<div id='player-pool' class='p-2 sm:px-0'>
  <%= render partial: 'player_pools/show',
             locals: { player_pool: @player_pool } %>
</div>

<hr>

<div class='flex flex-col min-h-screen mt-4'>
  <div class='flex-none bg-white'>
    <h3 class="text-sm font-bold text-gray-400 my-2">
      ALL PLAYERS
    </h3>
    <div class="inline-flex space-x-0 items-center rounded-lg shadow mb-2">
      <%= link_to 'All',
                  params.permit(:position).merge(position: nil),
                  class:"py-2 px-6 hover:bg-gray-200 rounded-l-lg border border-gray-200 text-gray-700 text-sm" %>
      <% Player::PLAYER_POSITIONS.each do |position| %>
        <%= link_to position,
                    params.permit(:position).merge(position: position),
                    class: "#{'bg-gray-100' if position == params[:position]}
                            #{'rounded-r-lg' if position == 'dst'}
                            py-2 px-6 hover:bg-gray-200 border border-gray-200 text-gray-700 text-sm uppercase" %>
      <% end %>
    </div>

    <div class='shadow overflow-hidden border-b border-gray-200 sm:rounded-lg'>
      <table class='min-w-full divide-y divide-gray-200'>
        <thead class='bg-gray-500'>
          <tr>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Position</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Player</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Game</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Price</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Proj</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Value</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Ownership</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Pool Status</th>
            <th scope='col' class='px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center'>Actions</th>
          </tr>
        </thead>
        <tbody class='bg-white divide-y divide-gray-200'>
          <% @players.each do |player| %>
            <tr data-player-id="player-pool-entry-form-<%= player.id %>">
              <%= render partial: 'players/player_row', locals: { player_pool: @player_pool, player: player } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id='ac-player-pool' data-player-pool-id='<%= @player_pool.id %>' class='hidden'>
</div>
