<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      <%= @player.name %>
    </h2>
    <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
      <div class="mt-2 flex items-center text-sm text-gray-500 uppercase">
        <!-- Heroicon name: briefcase -->
        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd" />
          <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z" />
        </svg>
        <%= @player.team %>
      </div>
      <div class="mt-2 flex items-center text-sm text-gray-500 uppercase">
        <!-- Heroicon name: location-marker -->
        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
        </svg>
        <%= @player.position %>
      </div>
    </div>
  </div>
  <div class="mt-5 flex lg:mt-0 lg:ml-4">
    <span class="hidden sm:block ml-3">
      <%= link_to fantasy_data_link_url(@player),
                  class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none',
                  target: '_blank' do %>
        <!-- Heroicon name: link -->
        <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        Fantasy Data
      <% end %>
    </span>
  </div>
</div>

<div class='flex flex-col min-h-screen mt-4'>
  <div class='flex-none bg-white'>
    <div class="py-2">
      <h3 class="text-sm font-bold text-gray-400 my-2">
        PLAYER PRICE HISTORY
      </h3>
      <div class='h-128'>
        <canvas id='player-price-line-chart'></canvas>
        <script>
          var context = document.getElementById('player-price-line-chart');
          new Chart(context, {
            type: 'line',
            data: <%= player_line_data(@all_player_entries) %>,
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                  display: false
              },
            }
          });
        </script>
      </div>
    </div>

    <div class="py-2">
      <h3 class="text-sm font-bold text-gray-400 my-2">
        PLAYER DK POINTS HISTORY
      </h3>
      <div class='h-128'>
        <canvas id='player-points-bar-chart'></canvas>
        <script>
          var context = document.getElementById('player-points-bar-chart');
          new Chart(context, {
            type: 'bar',
            data: <%= player_points_bar_data(@player_results_gpp) %>,
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                  display: false
              },
            }
          });
        </script>
      </div>
    </div>

    <div class="py-2">
      <h3 class="text-sm font-bold text-gray-400 my-2">
        PLAYER CASH OWNERSHIP
      </h3>
      <div class='h-128'>
        <canvas id='player-cash-bar-chart'></canvas>
        <script>
          var context = document.getElementById('player-cash-bar-chart');
          new Chart(context, {
            type: 'bar',
            data: <%= player_ownership_bar_data(@player_results_cash) %>,
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                  display: false
              },
            }
          });
        </script>
      </div>
    </div>

    <div class="py-2">
      <h3 class="text-sm font-bold text-gray-400 my-2">
        PLAYER GPP OWNERSHIP
      </h3>
      <div class='h-128'>
        <canvas id='player-gpp-bar-chart'></canvas>
        <script>
          var context = document.getElementById('player-gpp-bar-chart');
          new Chart(context, {
            type: 'bar',
            data: <%= player_ownership_bar_data(@player_results_gpp) %>,
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                  display: false
              },
            }
          });
        </script>
      </div>
    </div>
  </div>
</div>
