<% content_for :sub_navigation do %>
  <%= render partial: 'navigation/dfs_sub_nav' %>
<% end %>

<div class='flex flex-col min-h-screen bg-white'>
  <div id='player-pool' class='sm:px-0'>
    <%= render partial: 'player_pools/show',
               locals: { player_pool: @player_pool } %>
  </div>

  <hr class='my-4'>

  <div class='h-16 bg-green-200 flex items-center'>
    <div class='w-1/2 p-4'>
      <span id='status-message' class='text-green-900'></span>
    </div>
    <div class='w-1/2 p-4 flex items-center justify-end space-x-2'>
      <% if @projection_set.present? %>
        <%= form_with url: gameweek_optimizations_path do |f| %>
          <%= hidden_field_tag :gameweek_id, @gameweek.id %>
          <%= hidden_field_tag :player_pool_id, @player_pool.id %>
          <%= hidden_field_tag :projection_set_id, @projection_set.id %>
          <%= hidden_field_tag :number_of_lineups, 2 %>
          <%= f.submit 'Optimize gameweek',
                       class: 'cursor-pointer hover:bg-green-400 py-2 px-4 rounded-full
                               bg-green-300 text-green-900 text-center align-middle font-semibold' %>
        <% end %>

        <%= form_with url: player_pool_optimizations_path do |f| %>
          <%= hidden_field_tag :gameweek_id, @gameweek.id %>
          <%= hidden_field_tag :player_pool_id, @player_pool.id %>
          <%= hidden_field_tag :projection_set_id, @projection_set.id %>
          <%= hidden_field_tag :number_of_lineups, 2 %>
          <%= f.submit 'Optimize player pool',
                       class: 'cursor-pointer hover:bg-green-400 py-2 px-4 rounded-full
                               bg-green-300 text-green-900 text-center align-middle font-semibold' %>
        <% end %>
      <% else %>
        <span class='text-green-900 text-right'>No projection set to optimize!</span>
      <% end %>

      <%= form_with url: lineup_generations_path do |f| %>
        <%= hidden_field_tag :player_pool_id, @player_pool.id %>
        <%= f.submit 'Find lineups',
                     class: 'cursor-pointer hover:bg-green-400 py-2 px-4 rounded-full
                             bg-green-300 text-green-900 text-center align-middle font-semibold' %>
      <% end %>
    </div>
  </div>

  <div id='lineups' class='flex flex-row flex-wrap justify-center'></div>
</div>

<div id='ac-player-pool' data-player-pool-id='<%= @player_pool.id %>' class='hidden'>
</div>
