<header class="bg-white shadow">
  <div class="flex justify-between max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <h1 class="text-xl font-bold leading-tight text-gray-900">
          DFS Tools
        </h1>
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <%= link_to_unless_current(
                'Projections',
                gameweek_players_path(@gameweek),
                class: 'px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-800 hover:bg-gray-100') do %>
            <span class='px-3 py-2 rounded-md text-sm font-medium text-gray-900 bg-gray-200'>
              Projections
            </span>
          <% end %>
          <%= link_to_unless_current(
                'Charts',
                gameweek_projection_charts_path(@gameweek),
                class: 'px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-800 hover:bg-gray-100') do %>
            <span class='px-3 py-2 rounded-md text-sm font-medium text-gray-900 bg-gray-200'>
              Charts
            </span>
          <% end %>
          <%= link_to_unless_current(
                'Optimizer',
                gameweek_optimizer_tools_path(@gameweek),
                class: 'px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-800 hover:bg-gray-100') do %>
            <span class='px-3 py-2 rounded-md text-sm font-medium text-gray-900 bg-gray-200'>
              Optimizer
            </span>
          <% end %>
          <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-800 hover:bg-gray-100">Lineups</a>
          <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-800 hover:bg-gray-100">Swaps</a>
          <%= link_to_unless_current(
                'Results',
                gameweek_results_sets_path(@gameweek),
                class: 'px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-800 hover:bg-gray-100') do %>
            <span class='px-3 py-2 rounded-md text-sm font-medium text-gray-900 bg-gray-200'>
              Results
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative inline-block text-left">
      <div>
        <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none" id="gameweek-options-menu" aria-haspopup="true" aria-expanded="true">
          Week <%= @gameweek.week_number %>
          <!-- Heroicon name: chevron-down -->
          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>

      <!--
        Dropdown panel, show/hide based on dropdown state.

        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
      <div id='gameweek-options-panel' class="hidden origin-top-right absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="gameweek-options-menu">
          <% @navigable_gameweeks.each do |nav_gameweek| %>
            <%= link_to params.permit(:results_set_id, :gameweek_id).merge(results_set_id: nil, gameweek_id: nav_gameweek.id),
                        class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900",
                        role: "menuitem" do %>
              Week <%= nav_gameweek.week_number %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</header>
